.techfont{
    font-family: 'Kavivanar', cursive;
    font-size: 1.5em;
}
.titlefont{
    font-family: 'Kavivanar', cursive;
}
.bigbrand{
    font-size: 1.5em;
}
.centerstage{
    margin-left: auto;
    margin-right: auto;
}
.postdate{
    text-align: center;
}
.posttitle{
    font-family: 'Kavivanar', cursive;
    font-size: 1.5em;
    text-align: center;
}
.postcontent{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.5em;
}
.btn-comment{
    position: absolute;
    right: 0px
}