.techfont{
    font-family: 'Kavivanar', cursive;
    font-size: 1.5em;

}
.titlefont{
    font-family: 'Kavivanar', cursive;
    font-weight: bold;
}
.contentfont{
    font-family: 'Roboto', sans-serif;
    width: 100%;
    word-break: break-all;
    font-size: 1.5em;
}
.bigbrand{
    font-size: 1.5em;
}
.centerstage{
    margin-left: auto;
    margin-right: auto;
}
.postdate{
    text-align: center;
}
.posttitle{
    font-family: 'Kavivanar', cursive;
    font-weight: bold;
    text-align: center;
}
.textinputclass{
    padding: 10px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8; 
}
.postcontent{
    width: 70%;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}
.btn-comment{
    position: absolute;
    right: 0px
}
.date{
    position: absolute;
    right: 0px;
}